
#body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

#navlink{
  color: #3D22E1;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.fa-book-reader{
    font-size: 75px;
    margin: 20px 0;
    background: -webkit-linear-gradient(56.04deg, #3D22E1 5.53%, #4DDFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background: inear-gradient(56.04deg, #3D22E1 5.53%, #4DDFFF 100%); */
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
